.container {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    height: 100%;
    border: 1px solid black;
    font-family: 'Aldrich';
}

.flag__outline {
    width: 400px;
    margin: 5px;
    text-align: center;
    /* border: 1px solid black; */
}

.text__box {
    width: 400px;
    margin: 5px;
    text-align: center;
    height: 40px;
    /* border: 1px solid red; */
}

.flag__image {
    width: 100%;
    height: 100%;
}

.enter__guess {
    width: 100%;
    height: 100%;
}

input[type="text"]
{
    font-size:24px;
    color: black;
}

h1 {
    font-size: 3em;
    /* border: 1px solid red; */
    height: 50px;
    width: 400px;
    text-align: center;  
}

body, html {
    height: 100%;
}

.background { 
    /* The image used */
    background-image: url("assets/background/10.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.score {
    width: 400px;
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
    /* border: 1px solid green; */
}